<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudos Vue</title>
    <script src="vue.js"></script>

    <style>
        .borda{ 
            border: 1px solid black;
        }
    </style>

</head>
<body>
    
    <div id="app">

        <ul>
            <li v-for="curso in cursos" v-text="curso"></li><!--Forma com v-text-->
        </ul>
        <hr>
        <ul>
            <li v-for="c in comentarios">id {{c.id}} - {{c.comentario}}</li><!--Forma com v-text-->
        </ul>
        <button @click="adicionarElemento()">Adicionar</button>
        <button @click="removeElemento()">Remover</button>
        <button @click="modificarElemento()">Atualizar</button>
        <hr>
        <ul>
            <li v-for="(aluno, key) in alunos">{{aluno}} - {{key}}</li><!--Forma com mustache-->
        </ul>
        <hr>
        <table border="">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Título</th>
                    <th>Descrição</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(curso, key) in cursos2">
                    <td>{{key}}</td>
                    <td>{{curso.titulo}}</td>
                    <td>{{curso.descricao}}</td>
                </tr>
            </tbody>
        </table><hr>

        <table border="">
            <thead>
                <tr>
                    <th>Turma</th>
                    <th>Qtde. Alunos</th>
                    <th>Bloco</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="({alunos, bloco},key) in turmas"><!--destructuring-->
                    <td>{{key}}</td>
                    <td>{{alunos}}</td>
                    <td>{{bloco}}</td>
                </tr>
            </tbody>
        </table><hr>

        <ul v-for="publi in publicacao" :key="publi.id" class="borda">
            <li>id {{publi.id}} - {{publi.publicacao}}</li><br>
            <input type="text">
        </ul>
        <button @click="misturaPubli()">Misturar</button>
        
    </div>

    <script>
        const vm = new Vue ({
            el: '#app',
            data: {
                comentarios: [
                    {id: 0, comentario: 'comentario 1'},
                    {id: 1, comentario: 'comentario 2'},
                    {id: 2, comentario: 'comentario 3'},
                ],
                cursos: [
                    'Laravel',
                    'vue.js',
                    'HTML5',
                    'CSS3',
                    'API Rest'
                ],
                alunos: [
                    'Luccas',
                    'João',
                    'Kauê',
                    'Victor'
                ],
                cursos2: {
                    1000: {
                        titulo:'Laravel', 
                        descricao:'Curso de Laravel'
                    },
                    1001: {
                        titulo: 'Banco de Dados', 
                        descricao: 'Curso de Banco de Dados'
                    }
                },
                turmas: {
                    turma1: {
                        alunos: 30,
                        bloco: 'A'
                    },
                    turma2: {
                        alunos: 29,
                        bloco: 'B'
                    },
                    turma3: {
                        alunos: 35,
                        bloco: 'C'
                    }
                },
                publicacao: [
                    {id: 0, publicacao: 'publicacao 1'},
                    {id: 1, publicacao: 'publicacao 2'},
                    {id: 2, publicacao: 'publicacao 3'}
                ]
            },
            methods: {
                misturaPubli() {
                    let misturado = []

                    misturado[0] = this.publicacao[2]
                    misturado[1] = this.publicacao[0]
                    misturado[2] = this.publicacao[1]

                    this.publicacao = misturado
                },
                adicionarElemento() {
                    this.comentarios.push({id: 4, comentario: 'comentario 4'})
                },
                removeElemento() {
                    this.comentarios.pop()
                },
                modificarElemento() {
                    //this.$set(<array>, <chave>, <novo valor>)
                    this.$set(this.comentarios, 1, {id: 1, comentario: 'Comentario Atualizado'})
                }
            }
        })

    </script>
</body>
</html>